{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:react/recommended"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/destructuring-assignment":  0,
    "react/jsx-props-no-spreading": "off",
    "prefer-const": 0,
    "array-callback-return": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/forbid-prop-types": 0,
    "jsx-a11y/label-has-associated-control": 0
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx", 
          ".ts", 
          ".tsx"
        ],
        "paths": [
          "src"
        ]
      }
    }
  }
}
